{{name}}
<br/>
{{name + 123}}

<br/>
<input type="text" value="abc123">
<br/>
<input type="text" [value]="name"> <!--單向綁定-->
<br/>
<input type="text" [(ngModel)]="name"> <!--雙向綁定,要import FormsModule-->
<br/>

<a href="https://www.google.com">Google</a>
<br/>
<a [href]="url">Google</a> <!--屬性綁定-->
<br/>

<button>Click</button>
<button (click)="zzz()">Click me!</button><!--事件綁定-->

<br/>
<br/>
<!--開新的component-->
<app-lesson1></app-lesson1> <!--算匯率;算圓周,圓面積-->

<app-lesson2></app-lesson2><!--if-->
<!-- <app-lesson2></app-lesson2> -->



