<!-- <app-lesson0></app-lesson0> -->

<!-- <a [routerLink]="['/lesson0']">Lesson0</a> 之前app裏頭的 -->
<!-- <app-lesson0></app-lesson0> -->
<div class="container">
    <a [routerLink]="['/lesson0']">Lesson0</a><!--單向綁定;雙向綁定,要import FormsModule;屬性綁定;事件綁定;日期格式轉格式;搜尋 ngx-pipes-->
    <a [routerLink]="['/lesson1']">Lesson1</a><!--算匯率;算圓周,圓面積-->
    <a [routerLink]="['/lesson2']">Lesson2</a><!--if-->
    <a [routerLink]="['/lesson3']">Lesson3</a><!--For-->
    <a [routerLink]="['/lesson4']">Lesson4</a> <!--child component-->
    <br/>
    <a [routerLink]="['/lesson5']">Lesson5</a><!--input-->
    <a [routerLink]="['/lesson6']">Lesson6</a><!--?output;要再研究-->
    <a [routerLink]="['/lesson6-1']">Lesson6-1</a><!--引用hightlight-->
    <a [routerLink]="['/pratice1']">pratice1</a><!--新增字到字典-->
    <a [routerLink]="['/homework1']">homework1</a><!--1070314-->
    <a [routerLink]="['/homework2']">homework2</a> <!--?1070320,未完-->
    <a [routerLink]="['/dyclass']">dyclass</a> <!--動態加css;抓網址參數-->
    <a [routerLink]="['/jq1']">jq1</a><!--加bootstrap-->
    <a [routerLink]="['/lesson7']">lesson7</a><!--service-->
    <router-outlet></router-outlet><!--切換時必加-->
</div>